div#yt-dictation-container{
  position: fixed;
  z-index: 10000;
  bottom: 18px;
  left: 18px;
  min-width: 260px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
}

div#yt-dictation-close{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px 7px;
  margin: 0;
  background-color: transparent;
  color: gray;
  font-size: 15px;
}
div#yt-dictation-close:hover{
  cursor: pointer;
}

p#yt-dictation-text{
  margin: 0;
  padding: 15px 25px;
  color: #282828;
  font-size: 25px;
}
p.yt-dictation-text-red{
  color: #dd0000 !important;
}

p#yt-dictation-credit{
  margin: 0;
  padding: 0 25px 15px 25px;
  color: #dd0000;
  font-size: 15px;
}
p#yt-dictation-credit:hover{
  cursor: pointer;
}

input#yt-dictation-input{
  margin: 0;
  color: #282828;
  font-size: 25px;
  border: solid 2px #282828;
  border-radius: 4px;
  box-shadow: none;
  background: none;
}
input#yt-dictation-input:focus{
  outline: 0;
  border: solid 2px #dd0000;
}
input.yt-dictation-input-error{
  background-color: #ffe4e1;
}

div#yt-dictation-score{
  position: absolute;
  bottom: 15px;
  right: 7px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: gray;
  font-size: 15px;
}
